<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> スライド </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides #slides>
    <ion-slide>
      <app-page-one></app-page-one>
    </ion-slide>
    <ion-slide>
      <app-page-two></app-page-two>
    </ion-slide>
    <ion-slide>
      <app-page-three></app-page-three>
    </ion-slide>
  </ion-slides>
  <ion-button (click)="swipeNext()" expand="block">次のスライド</ion-button>
  <ion-button (click)="swipePrev()" expand="block">前のスライド</ion-button>
</ion-content>
