<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> スライド </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- スライドが10枚ある -->
  <ion-slides #slides>
    <ion-slide>
      <app-page-one></app-page-one>
    </ion-slide>
    <ion-slide>
      <app-page-two></app-page-two>
    </ion-slide>
    <ion-slide>
      <app-page-three></app-page-three>
    </ion-slide>
    <ion-slide>
      <app-page-four></app-page-four>
    </ion-slide>
    <ion-slide>
      <app-page-five></app-page-five>
    </ion-slide>
    <ion-slide>
      <app-page-six></app-page-six>
    </ion-slide>
    <ion-slide>
      <app-page-seven></app-page-seven>
    </ion-slide>
    <ion-slide>
      <app-page-eight></app-page-eight>
    </ion-slide>
    <ion-slide>
      <app-page-nine></app-page-nine>
    </ion-slide>
    <ion-slide>
      <app-page-ten></app-page-ten>
    </ion-slide>
  </ion-slides>
  <ion-button (click)="swipeNext()" expand="block">次のスライド</ion-button>
  <ion-button (click)="swipePrev()" expand="block">前のスライド</ion-button>
</ion-content>
